@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;

}

header {
    background-color: aliceblue;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;

}

.Logo{
    text-decoration: none;
    color:darkcyan;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8em;
}

.navigation a{
    color: darkcyan;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 500;
    padding-left: 30px;
}

.navigation a:hover{
    color:dimgrey;
}


section{
    padding: 100px 200px;
}

.main{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(images/M4\ 20.jpg)no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.main h2{
    color:darkslategray;
    font-size: 3.1em;
    font-weight: 330;
    direction: ltr;
}

.main h3 {
    color:aliceblue;
    font-size: 28px;
    font-weight: 250;
    margin-top:10px;
    direction: ltr;
}
.main h3 span {
    margin-top: 1px;
}

.M4 {
    margin-bottom: 200px;
}

.ds2-font-xxl, h2 {
    direction: rtl;
    font-size: 2rem;
    line-height: 4rem;
    font-weight: 300;
    padding-bottom: 50px;
}

.text {
    direction: rtl;
    margin-top: 0;
    margin-bottom: 1rem;
    padding-left: 15px;
    font-size: 1.1rem;
    line-height: 1.5rem;
    font-weight: 300;
}

.g90{
position: relative;
padding: 0;
margin: 30px;
width: 100%;
height: auto;
} 

.m4-desgin  {
    direction: rtl;
    font-size: 2rem;
    line-height: 4rem;
    font-weight: 300;
}

.m4-output {
    direction: rtl;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 300;
}

.m4-font {
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 3rem;
    line-height: 4rem;
    font-weight: 300;
    margin-top: 10px;
}

.m4-font-m
{
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 1rem;
}

.BM-sedan {
    font-size: 3rem;
    line-height: 4rem;
    font-weight: 300;
}

ul {
    display: block;
    list-style-type: disc;
    font-size: 21px;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    list-style-position: outside;
}

.TITLE {
    display: flex;
    justify-content: center;
    color: darkcyan;
    font-size: 2.2em;
    font-weight: 600;
    margin-bottom: 30px;

}

.content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.modles {
    background-color: rgb(10, 17, 17);
}

.modles .content {
    margin-top: 30px;
}

.modles-card {
    background-color: #fff;
    border: 1px solid #fff;
    min-height: 14em;
    width: 23em;
    overflow: hidden;
    border-radius: 10px;
    margin: 20px;
    transition: 0.7s ease;
}

.modles-card:hover {
    transform: scale(1.1);
}

.modles-img img {
    width: 100%;
}

.modles-card:hover .modles-img{
   opacity: 0.9;
}

.modles-info {
    padding: 1em;

}

.modles-category {
    font-size: 0.8em;
    color: black;
}

.modles-title {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 10px; 
}

.more-details {
    text-decoration: none;
    color: darkcyan;
}

.more-details:hover {
    color:burlywood;
}

.card {
    background-color: #fff;
    width: 21.25em;
    box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    transition: 0.7s ease;
}

.card:hover {
    transform: scale(1.1);
}

.card .icon {
    color: darkcyan;
    font-size: 8em;
    text-align: center;
}

.info {
    text-align: center;
}

.info h3{
    color:darkcyan;
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px;
}

.content .icon {
    font-size: 4em;
}

.social-icons a {
    color:darkcyan;
    font-size: 1.7em;
    padding-right: 30px;
}

.footer{
    background-color: rgb(10, 17, 17);
    color: #fff;
    padding: 2em;
    display: flex;
    justify-content: space-between;
}

.footer-title{
    font-size: 1.3em;
    font-weight: 600;
}@media (max-width:1023px){
    header{
        padding: 12px 20px;
    }

    .navigation a{
        padding-left: 10px;
    }

    .title{
        font-size: 1.8em;
    }

    section{
        padding: 80px 20px;
    }

    .main-content h2{
        font-size: 1em;
    }

    .main-content h3{
        font-size: 1.6em;
    }

    .content{
        flex-direction: column;
        align-items: center;
    }

}

@media (max-width:641px){
    body{
        font-size: 12px;
    }

    .main-content h2{
        font-size: 0.8em;
    }

    .main-content h3{
        font-size: 1.4em;
    }
}

@media (max-width:300px){
    body{
        font-size: 10px;
     
    }
}




